:root{
    --primaryColor: rgb(150, 146, 146);
    --hoverPrimaryColor: rgb(61, 60, 60);
}
.container-fluid{
    height: 100vh;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card{
    background-color: white;
    min-height: 250px;
    border-radius: 5px ;
    margin: auto;
}
.card-body{
    padding: 10px;
}
.btn-primary{
    color: white;
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);

}
.btn-primary:hover{
    background-color: var(--hoverPrimaryColor) !important;
    border-color: var(--primaryColor) !important;
    outline:none !important;
    box-shadow: none;
}
.button:active, 
 button:active,
.button:focus, 
 button:focus
{
    background-color: var(--primaryColor) !important;
    border:none !important;
    outline:none !important;
}
.right{
    float: right;
}
